## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Olafsvik,IS,64.89,-23.71,48.65,83,96,19.95,Clouds
1,1,Ushuaia,AR,-54.80,-68.30,42.80,70,40,10.29,Clouds
2,2,Zhigansk,RU,66.77,123.37,57.15,58,31,11.79,Clouds
3,3,Bethel,US,41.37,-73.41,75.99,88,90,4.70,Clouds
4,4,Hilo,US,19.73,-155.09,71.60,78,75,4.70,Clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Bethel,US,41.37,-73.41,75.99,88,90,4.70,Clouds
8,8,Santa Cruz,BO,-17.80,-63.17,86.00,39,0,14.99,Clear
14,14,Jamestown,US,42.10,-79.24,75.00,94,90,11.41,Clouds
15,15,Port Alfred,ZA,-33.59,26.89,76.42,29,0,5.73,Clear
21,21,Oistins,BB,13.07,-59.53,87.80,70,40,12.75,Rain
23,23,Namibe,AO,-15.20,12.15,75.20,69,75,11.41,Clouds
24,24,Tateyama,JP,34.98,139.87,78.01,100,43,5.97,Clouds
31,31,Pochutla,MX,15.74,-96.47,87.01,66,75,2.46,Clouds
34,34,Ixtapa,MX,20.70,-105.20,82.40,78,40,3.36,Clouds
35,35,Saldanha,ZA,-33.01,17.94,77.00,25,0,5.82,Clear

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                313
City                   313
Country                308
Lat                    313
Lng                    313
Max Temp               313
Humidity               313
Cloudiness             313
Wind Speed             313
Current Description    313
dtype: int64

In [13]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

In [14]:
# verify NA's are dropped
clean_df.notnull().sum()

City_ID                308
City                   308
Country                308
Lat                    308
Lng                    308
Max Temp               308
Humidity               308
Cloudiness             308
Wind Speed             308
Current Description    308
dtype: int64

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Bethel,US,75.99,Clouds,41.37,-73.41,
8,Santa Cruz,BO,86.00,Clear,-17.80,-63.17,
14,Jamestown,US,75.00,Clouds,42.10,-79.24,
15,Port Alfred,ZA,76.42,Clear,-33.59,26.89,
21,Oistins,BB,87.80,Rain,13.07,-59.53,
23,Namibe,AO,75.20,Clouds,-15.20,12.15,
24,Tateyama,JP,78.01,Clouds,34.98,139.87,
31,Pochutla,MX,87.01,Clouds,15.74,-96.47,
34,Ixtapa,MX,82.40,Clouds,20.70,-105.20,
35,Saldanha,ZA,77.00,Clear,-33.01,17.94,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
# Iterate through the hotel_df DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Bethel,US,75.99,Clouds,41.37,-73.41,Courtyard by Marriott Danbury
8,Santa Cruz,BO,86.00,Clear,-17.80,-63.17,Hotel Cortez
14,Jamestown,US,75.00,Clouds,42.10,-79.24,Hampton Inn & Suites Jamestown
15,Port Alfred,ZA,76.42,Clear,-33.59,26.89,The Halyards Hotel
21,Oistins,BB,87.80,Rain,13.07,-59.53,Butterfly Beach Hotel
23,Namibe,AO,75.20,Clouds,-15.20,12.15,Hotel Chik Chik Namibe
24,Tateyama,JP,78.01,Clouds,34.98,139.87,Tateyama Seaside Hotel
31,Pochutla,MX,87.01,Clouds,15.74,-96.47,Hotel Posada San Jose
34,Ixtapa,MX,82.40,Clouds,20.70,-105.20,Container Inn Puerto Vallarta
35,Saldanha,ZA,77.00,Clear,-33.01,17.94,Blue Bay Lodge

In [18]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [19]:
# verify NA's are dropped
clean_hotel_df.notnull().sum()

City                   308
Country                308
Max Temp               308
Current Description    308
Lat                    308
Lng                    308
Hotel Name             308
dtype: int64

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]